*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

html{
    scroll-behavior: smooth;
}

/*POSITIONING*/
.headings, .icons{
    display: flex;
}

.headings{
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    flex-direction: row-reverse;
}

ul{
    gap: 25px;
}

#introduction header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

h2 span{
    font-weight: normal;
}

#introduction header .info{
    max-width: 600px;
    min-width: 250px;
}

.images p{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 650px;
    min-width: 250px;
}

.stars{
    width: 520px;
    align-self: self-end;
    display: flex;
    gap: 15px;
}

#work .tools{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.tools div{
    text-align: center;
}

.tools div img{
    max-width: 200px;
    min-width: 100px;
    height: auto;
}

#showcase{
    display: flex;
    justify-content: space-evenly;
}

footer{
    display: flex;
    flex-direction: column;
}

.social{
    align-self: flex-end;
    text-align: center;
    margin-right: 20px;
}

.social img{
    display: inline-block;
    margin-left: 10px;
    padding: 5px;
}

.page-details{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

footer div h3{
    margin-bottom: 5px;
}

@media (min-width: 600px) and (max-width: 1000px) {

}